<!--<p id="notice"><%#= notice %></p>-->

<% @prev = @preview %>
<%#= render @preview %>
<%#= label(:preview, :id, "#{@prev.id}") %>
<%= label(:preview, :id, "#{@prev.id}") %>
<br>
<%= label(:preview, :str_input, "RTE Link:", class: "title_label") %>
<%= link_to("#{@prev.str_input}", "#{@prev.str_input}", target: "_blank", rel: "nofollow") %>
<br>
<br>
<%= label(:preview, :json_output, "Owlery Link:", class: "title_label") %>
<%= link_to("#{@prev.json_output}", "#{@prev.json_output}", target: "_blank") %>
<br>
<br>

<!--<%#= link_to 'Edit', edit_preview_path(@preview) %> |-->
<%#= link_to 'Back', previews_path %>
